{% extends 'base_post.html' %}
{% load static %}

{% block post_content %}
    <h1>{{ object.name }}</h1>
    <h3>{{ object.next_date }}</h3>
    {% if object.end_time %}
        <h3>{{ object.start_time }} - {{ object.end_time }}</h3>
    {% else %}
        <h3>{{ object.start_time }}</h3>
    {% endif %}

    <p>{{ object.description }}</p>
    <h2>{{ object.address }}</h2>
    <iframe
        src="{{ object.address_map_link }}"
        allowFullScreen="false"
        width=100%
        height=500
    ></iframe>
{% endblock %}